/.project

# Source: http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/
# =============== #
# Unity generated #
# =============== #
PirateWars/[Tt]emp/
PirateWars/[Oo]bj/
PirateWars/[Bb]uild
PirateWars/[Ll]ibrary/
PirateWars/sysinfo.txt

Old/[Tt]emp/
Old/[Oo]bj/
Old/[Bb]uild
Old/[Ll]ibrary/
Old/sysinfo.txt

Tutorials/

SpaceShooter/SpaceShooter/[Tt]emp/
SpaceShooter/SpaceShooter/[Oo]bj/
SpaceShooter/SpaceShooter/[Bb]uild
SpaceShooter/SpaceShooter/[Ll]ibrary/
SpaceShooter/SpaceShooter/sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
